html {
  font-size: 100%;
  background-color: #ffffff;
  color: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}





/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

/* header links formatting */
.header a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

/* headerleft formatting */
.headerleft a {
  font-size: 30px;
  font-weight: bold;
}

/* background color changes on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* active/current link being clicked */
.header a:active {
  background-color: dodgerblue;
  color: white;
}





/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #000;
}

/* footer top position/formatting */
.footertop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 35px;
}

/* header (Master Set Games) formatting */
.footertop h3{
    font-size: 2.1rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
}

/* paragraph formatting */
.footertop p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #000;
}

.footertop a{
  color: #000;
  text-decoration: none;
}

.footertop a:hover{
  color: #27bcda;
}

/* bottom footer formatting */
.footerbottom{
    display: flex;
    background: #f3f3f3;
    width: 97vw;
    padding: 20px;
    padding-bottom: 5px;
    text-align: justify;
    justify-content: space-between;
    text-transform: capitalize;
}

.footerbottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}

/* footer menu */
.footermenu ul{
  display: flex;
}

.footermenu ul li{
padding-right: 10px;
display: block;
}

.footermenu ul li a{
  color: #000;
  text-decoration: none;
}

.footermenu ul li a:hover{
  color: #27bcda;
}
